<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- ======== Icon Page ======== -->
    <link rel="icon" href="https://cdn-icons-png.freepik.com/256/7392/7392631.png" type="image/png">
    <!-- ======== CSS ======== -->
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<!-- ===== Sidebar ===== -->
<nav class="sidebar close">
    <!-- ===== header sidebar ===== -->
    <header>
        <div class="image-text">
        <span class="image">
          <img src="https://uploaded.kcampus.kr/unnamed_1_099270416e.jpg" alt="">
        </span>
            <div class="text logo-text">
                <span class="name">ProcessLogTailor</span>
                <span class="profession">한베트남연합팀</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <!-- ===== Menu bar ===== -->
    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search Games...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#Home">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#Select">
                        <i class='bx bx-select-multiple icon'></i>
                        <span class="text nav-text">Select Operation</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#Slice">
                        <i class='bx bx-cut icon'></i>
                        <span class="text nav-text">Slice Operation</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#Union">
                        <i class='bx bx-intersect icon'></i>
                        <span class="text nav-text">Union Operation</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#About">
                        <i class='bx bx-info-circle icon'></i>
                        <span class="text nav-text">About</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ===== footer sidebar ===== -->
        <div class="bottom-content">
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>

<!-- ===== Main ===== -->
<div class="home">

</div>

<!-- ===== JavaScript ===== -->
<script src="/js/script.js"></script>
</body>
</html>
